input:not([readonly]){
  @apply outline-none flex-grow py-4 px-6 border rounded;
}

.btn{
  @apply outline-none text-white px-8 rounded inline-block;
  transition-duration: 0.2s;
  vertical-align: middle;
  height: 2.8rem;
}

button:focus{
  outline: none;
}

.btn-primary{
  @apply bg-primary-normal;
}
.btn:hover{
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}
.btn-success{
  @apply bg-success-normal;
}

.btn-secondary{
  @apply bg-gray-300 text-gray-800 px-3 mx-2;
  height: 2.2rem;
}

.btn-secondary:hover{
  @apply bg-gray-400;
  box-shadow: none;
}