
.header{
  @apply leading-normal tracking-normal mt-12 mb-12;
  color: $header-color
}
.header nav{
  @apply bg-main px-8 mt-0 fixed w-full z-20 top-0 flex flex-wrap items-center;
  border-bottom: 1px solid #e5e7f0;
}
.header .link{
  @apply align-middle px-6 no-underline text-sm;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0;
  line-height: 80px;
  height: 80px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: color;
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
  border-bottom: 3px solid transparent;
}

@media screen and (max-width: 1100px){
  #logo{
    display: none;
  }
}

@media screen and (max-width: 680px){
  .header .link{
    @apply px-2;
    height: 60px;
  }
}

.header .link:hover, .header .link.active{
  border-bottom: 3px solid $header-color;
}

.search-icon{
  top: 50%;
  left: .8rem;
  transform: translateY(-50%);
}