
.ReactModal__Overlay{
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content{
  width: 40%;
}

@media screen and (max-width: 1200px){
  .ReactModal__Content{
    @apply w-2/3;
  }
}

@media screen and (max-width: 800px){
  .ReactModal__Content{
    width: 90%;
  }
}

.modal-default{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}