
.toast__container {
  position: fixed;
  top: 82px;
  right: 30px;
  display: inherit;
  vertical-align: middle;
  z-index: 150;
  width: auto;
}

.toast__cell{
  display: block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
  text-align:left;
  padding: 21px 0;
  background-color:#fff;
  border-radius:4px;
  max-width: 500px;
  top: 0px;
  position:relative;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04)!important;
}


.toast:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor:pointer;
  height: 14px;
  fill:#878787;
  transform: translateY(-50%);
}

.toast--success .toast__icon{
  background-color:#2BDE3F;
}

.toast--success:before{
  background-color:#2BDE3F;
}

.toast--info .toast__icon{
  background-color:#1D72F3;
}

.toast--info:before{
  background-color:#1D72F3;
}

.toast--warning .toast__icon{
  background-color:#FFC007;
}

.toast--warning:before{
  background-color:#FFC007;
}

.toast--danger .toast__icon{
  background-color: #ff453d;
}

.toast--danger:before{
  background-color:#ff453d;
}


/* ANIMATION AVEC ReactCSSTransitionGroup */

.toast-enter {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition: 700ms;
}

.toast-enter.toast-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: 700ms;
}

.toast-leave {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* Ne fonctionne pas */
.toast-leave.toast-leave-active {

}

@keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}